<div class="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <div class="social-media">
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
          <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
      <p>&copy; 2016 Pietro Martini</p>
    </div>
  </div>
</div>
