<div class="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline">
        <div class="social-media">
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
          <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
          <div class="contact-information">
            <ul class="list-inline">
              <li><a href="#">RSS</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      <p>&copy; 2016 Pietro Martini</p>
    </div>
  </div>
</div>
