<div class="col-lg-4">
  <div class="sidebar">
    <h5>Categories</h5>
    <ul class="list-unstyled">
      <% tag_cloud Event.tag_counts, %w{smallest-tag small-tag medium-tag large-tag} do |tag, size_class| %>
      <li><%= link_to tag.name, tag_path(tag.name), class: size_class %></li>
      <% end %>
    </ul>
  </div>
</div>
