<h3>Search Events by Tag</h3>
  <div>
    <% tag_cloud Event.tag_counts, %w{smallest-tag small-tag medium-tag large-tag} do |tag, size_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: size_class %>
    <% end %>
  </div>
